<header class="boxs">
    <div class="wrapper">
        <div class="logo boxs">
            <a href="javascript:void(0)" class="navi ripple_btn"><img src="/static/images/navbar.png" alt="nav"></a>
            <a href="#"><img src="/static/images/logo.jpeg" class="" alt="logo" width="50" height="50"></a>
        </div>
    </div>
    <div class="sidenav">
        <ul>
            <li class="ripple_btn"><a href="javascript:void(0)" class="closenav">X</a></li>
            <li class="ripple_btn"><a href="#"><img src="https://via.placeholder.com/220x50" alt=""></a></li>
            <!--<li class="ripple_btn"><a href="#">TIMELEFT: 00:00:00</a></li>-->
            <li class="ripple_btn"><a href="upload.html">RECORDINGS</a></li>
            <li class="ripple_btn"><a href="#">Turn Off</a></li>
        </ul>
    </div>
</header>